- page_title "Bork project"
- if @borked_project && !@borked_project.saved?
  .alert.alert-danger.alert-block
    %h4
      %i.fa.fa-code-bork
      Bork Error!
    %p
      You tried to bork
      = link_to_project @project
      but it failed for the following reason:


    - if @borked_project && @borked_project.errors.any?
      %p
        &ndash;
        - error = @borked_project.errors.full_messages.first
        - if error.include?("already been taken")
          Name has already been taken
        - else
          = error

    %p
      = link_to new_namespace_project_bork_path(@project.namespace, @project), title: "Bork", class: "btn" do
        %i.fa.fa-code-bork
        Try to Bork again
