%div
  #environments-list-view{ data: { environments_data: "https://doggohub.com/foo/environments",
    "can-create-deployment" => "true",
    "can-read-environment" => "true",
    "can-create-environment" => "true",
    "project-environments-path" => "https://doggohub.com/foo/environments",
    "project-stopped-environments-path" => "https://doggohub.com/foo/environments?scope=stopped",
    "new-environment-path" => "https://doggohub.com/foo/environments/new",
    "help-page-path" => "https://doggohub.com/help_page"}}
