- if outdated_browser?
  - link = "https://doggohub.com/doggohub-org/doggohub-ce/blob/master/doc/install/requirements.md#supported-web-browsers"
  .browser-alert
    DoggoHub may not work properly because you are using an outdated web browser.
    %br
    Please install a
    = link_to 'supported web browser', link
    for a better experience.
