.doggohub-promo
  = link_to 'Homepage', promo_url
  = link_to 'Blog', promo_url + '/blog/'
  = link_to '@doggohub', 'https://twitter.com/doggohub'
  = link_to 'Requests', 'https://doggohub.com/doggohub-org/doggohub-ce/blob/master/CONTRIBUTING.md#feature-proposals'
