%p
  #{@message}.

%p
  = link_to "See the affected projects in the DoggoHub admin panel", admin_projects_url(last_repository_check_failed: 1)

%p
  You are receiving this message because you are a DoggoHub administrator for #{Gitlab.config.doggohub.url}.
